.genesis__grid-pictures{
    display:flex;
    justify-content:center;
    align-items:center;

}

.berg{
    width:200px;
    height: 200px;
}

.blommor{
    width:200px;
    height: 200px;
}

.blåst{
    width:200px;
    height: 200px;
}
