.genesis-top-text-box{
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

.top-first-text{
    position: relative;
    right: 800px;
}

.genesis-box-info{
    font-family: Arial, Helvetica, sans-serif;
}

span{
    color:gray;
}