.page1-textbox{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top: 100px;

}

.flex-page1-textbox{

    flex-direction: column;

}

.flex-page1-textbox2{
 
    flex-direction: column;

}
