
body{
    margin-top: 30px;
    margin-left:200px ;
    margin-right: 200px;
    
}

@import "top-bar";


@import "grid";

@import "textbox-underbilder";



@import "awwwards";

@import "csss";

@import "bottom-bar";

@import "genesis-box-info";